.DS_Store
*.iws
.idea/
*.iml
.env
.project
.classpath
.settings
.groovy
target

wrapper.conf.local
build.properties
smoke.properties
smoke.*.properties
release.properties
pom.xml.releaseBackup

/scripts/jmeter/results/

/amee-platform-core/src/main/config/*.salt
/amee-platform-core/src/main/config/*.key
/amee-platform-core/logs/
/amee-platform-core/lucene

