# Path to the location of your development root
amee.devel.home=/Users/david.keen/code/AMEE/amee.platform.api

# Path to the location of your deployment root
amee.package.dir=/Users/david.keen/code/AMEE/amee.platform.api.deploy

# Path to the location of your mvn executable
#mvn.executable=/opt/local/bin/mvn