api.host = "localhost"
api.port = 8888
api.standard.user = "load"
api.standard.password = ""
api.admin.user = "adminv2"
api.admin.password = ""
api.root.user = "root"
api.root.password = ""
api.ecoinvent.user = "ecoinvent"
api.ecoinvent.password = ""