<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Declare the 'CONSOLE' ConsoleAppender. -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d] [%p] [%t] [${server.name}] [%X{ipAddress}] [%X{userUid}] [%c] %m%n"/>
        </layout>
    </appender>

    <!-- ############### Hibernate ################# -->

    <!--<category name="org.hibernate">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.SQL">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.type">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.loader">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.cache">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->

    <!-- ############### Spring ################# -->

    <!--<category name="org.springframework">-->
    <!--<priority value="DEBUG"/>-->
    <!--</category>-->

    <!-- ############### AMEE ################### -->

    <category name="com.amee">
        <priority value="DEBUG"/>
    </category>

    <!-- ############### Default ################### -->

    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
