<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- Placeholder property configuration -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- Set a value that should be treated as <code>null</code> when resolved as a placeholder value -->
        <property name="nullValue" value="NULL"/>
    </bean>

    <!-- Annotations and other stuff -->
    <context:load-time-weaver/>
    <context:spring-configured/>
    <context:annotation-config/>
    <context:component-scan base-package="com"/>
    <tx:annotation-driven mode="aspectj"/>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <!-- TransactionController Implementation. -->
    <bean id="transactionController" class="com.amee.persist.TransactionControllerImpl"/>

    <!-- EhCacheManagerFactoryBean -->
    <bean id="cacheManager" class="${CACHE_MANAGER_CLASS}">
        <property name="configLocation" value="classpath:ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <!-- CacheService -->
    <bean id="cacheService" class="${CACHE_SERVICE_CLASS}"/>

    <!-- entityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="ameeDataSource"/>
        <property name="loadTimeWeaver">
            <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
    </bean>

    <!-- transactionManager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="ameeDataSource"/>
        <property name="jpaDialect" ref="jpaDialect"/>
    </bean>
    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>

    <!-- Messages for validation -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="file://${CONF_HOME}/validationMessages"/>
        <property name="cacheSeconds" value="1"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>

    <!-- AMEE Services -->

    <!-- Search -->
    <bean id="searchService" class="com.amee.platform.search.SearchService"/>
    <bean id="searchQueryService" class="com.amee.platform.search.SearchQueryService"/>
    <bean id="luceneService" class="com.amee.platform.search.LuceneServiceImpl">
        <property name="snapShooterPath" value="${CURRENT_HOME}/bin/snapshooter"/>
        <property name="indexDirPath" value="${AMEE_HOME}/lucene"/>
        <property name="snapTime" value="300"/>
    </bean>
    <bean id="searchManager" class="com.amee.platform.search.SearchManager"/>
    <bean id="searchIndexerTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="2"/>
        <property name="maxPoolSize" value="4"/>
        <property name="queueCapacity" value="50"/>
        <property name="allowCoreThreadTimeOut" value="true"/>
        <property name="keepAliveSeconds" value="10"/>
    </bean>

    <!-- DataSheetService -->
    <!-- The eternalPaths below should be kept in sync with those in /bin/warm-up-eternal-categories.sh -->
    <bean id="dataSheetService" class="com.amee.service.data.DataSheetService">
        <property name="eternalPaths">
            <set>
                <!--<value>/home/heating</value>-->
                <!--<value>/home/heating/us</value>-->
                <!--<value>/transport/plane/generic/airports/all/countries</value>-->
                <!--<value>/transport/car/specific</value>-->
                <!--<value>/transport/car/specific/us</value>-->
                <!--<value>/transport/car/specific/uk</value>-->
                <!--<value>/transport/plane/generic/airports/all/codes</value>-->
                <!--<value>/business/energy/stationaryCombustion</value>-->
            </set>
        </property>
    </bean>

</beans>