<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Declare the 'CONSOLE' ConsoleAppender. -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d] [%p] [%t] [${server.name}] [%X{ipAddress}] [%X{userUid}] [%c] %m%n"/>
        </layout>
    </appender>

    <!-- Declare the 'PLATFORM_EMAIL' SMTPAppender. -->
    <appender name="PLATFORM_EMAIL" class="com.amee.base.engine.PatternSubjectSMTPAppender">
        <param name="BufferSize" value="512"/>
        <param name="SMTPHost" value="localhost"/>
        <param name="From" value="platform.issues@amee.cc"/>
        <param name="To" value="platform.issues@amee.cc"/>
        <param name="Subject" value="AMEE Platform Issue - %c %m"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d] [%p] [%t] [${server.name}] [%X{ipAddress}] [%X{userUid}] [%c] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <!-- Declare the 'SCIENCE_EMAIL' SMTPAppender. -->
    <appender name="SCIENCE_EMAIL" class="com.amee.base.engine.PatternSubjectSMTPAppender">
        <param name="BufferSize" value="512"/>
        <param name="SMTPHost" value="localhost"/>
        <param name="From" value="science.issues@amee.cc"/>
        <param name="To" value="science.issues@amee.cc"/>
        <param name="Subject" value="AMEE Science Issue - %m"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d] [%p] [%t] [${server.name}] [%X{ipAddress}] [%X{userUid}] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <!-- Declare the 'AIRBRAKE' HoptoadAppender. -->
    <appender name="AIRBRAKE" class="hoptoad.HoptoadAppender">
        <param name="api_key" value="335da09dfa378ed3d5b650becadf0214"/>
        <param name="env" value="${instance.name}"/>
        <param name="enabled" value="${amee.airbrake}"/>
    </appender>

    <!-- Declare the 'TRANSACTIONS_ROLLER' DailyRollingFileAppender. -->
    <appender name="TRANSACTIONS_ROLLER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/var/www/apps/${app.name}-${instance.name}/shared/log/transactions.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy:MM:dd:HH:mm:ss:SSS}|%m%n"/>
        </layout>
    </appender>

    <!-- Declare the 'SEARCH_ROLLER' DailyRollingFileAppender. -->
    <appender name="SEARCH_ROLLER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/var/www/apps/${app.name}-${instance.name}/shared/log/search.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy:MM:dd:HH:mm:ss:SSS}|%m%n"/>
        </layout>
    </appender>

    <!-- Declare the 'SCIENCE_ROLLER' DailyRollingFileAppender. -->
    <appender name="SCIENCE_ROLLER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/var/www/apps/${app.name}-${instance.name}/shared/log/science.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d] [%p] [%t] [${server.name}] [%X{ipAddress}] [%X{userUid}] %m%n"/>
        </layout>
    </appender>

    <!-- Declare the 'PERFORMANCE_ROLLER' DailyRollingFileAppender. -->
    <appender name="PERFORMANCE_ROLLER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/var/www/apps/${app.name}-${instance.name}/shared/log/performance.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy:MM:dd:HH:mm:ss:SSS}|%m%n"/>
        </layout>
    </appender>

    <!-- ############### Hibernate ################# -->

    <!--<category name="org.hibernate">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.SQL">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.type">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.loader">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->
    <!--<category name="org.hibernate.cache">-->
    <!--<priority value="TRACE"/>-->
    <!--</category>-->

    <!-- ############### Spring ################# -->

    <!--<category name="org.springframework">-->
    <!--<priority value="DEBUG"/>-->
    <!--</category>-->

    <!-- ############### Restlet ################# -->

    <!--<category name="org.restlet">-->
    <!--<priority value="DEBUG"/>-->
    <!--</category>-->


    <!-- ############### Perf4J ################# -->

    <!--
       This AsyncCoalescingStatisticsAppender groups StopWatch log messages
       into GroupedTimingStatistics messages which it sends on the
       file appender defined below
    -->
    <appender name="CoalescingStatistics"
              class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <!--
          The TimeSlice option is used to determine the time window for which
          all received StopWatch logs are aggregated to create a single
          GroupedTimingStatistics log. Here we set it to 60 seconds, overriding
          the default of 30000 ms
        -->
        <param name="TimeSlice" value="60000"/>
        <appender-ref ref="PERFORMANCE_ROLLER"/>
    </appender>

    <!-- Loggers -->
    <!--
      The Perf4J logger. Note that org.perf4j.TimingLogger is the value of the
      org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that
      additivity is set to false, which is usually what is desired - this means
      that timing statements will only be sent to this logger and NOT to
      upstream loggers.
    -->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>


    <!-- ############### AMEE ################### -->

    <category name="com.amee">
        <priority value="${amee.logLevel}"/>
    </category>

    <category name="transactions" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="TRANSACTIONS_ROLLER"/>
    </category>

    <category name="search" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="SEARCH_ROLLER"/>
    </category>

    <category name="science" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="SCIENCE_ROLLER"/>
        <!-- TODO: Re-enable (see above). -->
        <!--<appender-ref ref="SCIENCE_EMAIL"/>-->
    </category>

    <!-- ############### log4jdbc ################### -->
    <!-- See: http://code.google.com/p/log4jdbc/ -->

    <category name="jdbc.sqlonly">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.sqltiming">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.audit">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.resultset">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.connection">
        <priority value="ERROR"/>
    </category>

    <!-- ############### Default ################### -->

    <root>
        <priority value="${amee.defaultLogLevel}"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PLATFORM_EMAIL"/>
        <appender-ref ref="AIRBRAKE"/>
    </root>

</log4j:configuration>
