AMEE_SERVER_NAME=localhost
AMEE_INSTANCE_NAME=local
AMEE_APP_NAME=platform
HOST_NAME=localhost
LOG_LEVEL=DEBUG
DEFAULT_LOG_LEVEL=INFO
AIRBRAKE=false
PROTOCOL=http
PORT=8888
SECURE_PORT=8889
DB_USERNAME=amee
DB_PSWD=amee
DB_URL_PREFIX=jdbc
DB_URL=mysql://localhost:3306/amee?autoReconnect=true&amp;autoReconnectForPools=true&amp;useCompression=false
DB_DRIVER=com.mysql.jdbc.Driver
VALIDATION_QUERY=SELECT 1 FROM DUAL
RESOURCE_DEFAULT_TIMEOUT=15
AMEE_TIME_ZONE=UTC
TRAIN_ROUTE_SERVICE_URI=http://example.com
AUTO_START_SCHEDULER=false
MESSAGING_RUN_SLEEP=5000
RABBIT_MQ_ADDRESS=localhost
RABBIT_MQ_PORT=5672
RABBIT_MQ_VHOST=/
RABBIT_MQ_USERNAME=guest
RABBIT_MQ_PASSWORD=guest
MESSAGING_SCOPE=local
DATABASE_PLATFORM=org.hibernate.dialect.MySQL5InnoDBDialect
DATABASE=MYSQL
SHOW_SQL=false
MASTER_INDEX=true
CLEAR_INDEX=false
CHECK_DATA_CATEGORIES=false
INDEX_DATA_CATEGORIES=false
INDEX_DATA_ITEMS=false
DATA_CATEGORY_PATH_PREFIX=/
SNAPSHOT_ENABLED=false
SNAPSHOOTER_PATH=/
INDEX_PATH=index
LUCENE_PATH=index/lucene
INDEX_CHECK_SEARCHER_ON_COMMIT=false
amee.keyFile=amee.key
amee.saltFile=amee.salt

